*{
    padding: 0px;
    margin: 0px;
}
body{
   font-family: 'Roboto', sans-serif; 
 background-image: url("../Photo/background.jpg");
 background-repeat: no-repeat;
 background-size: cover;
    height:100%;
    width:100%;
}
placeholder{
    color:#00ccff !important;
}
h1 { color:#00ccff; }
h2 { color:#00ccff; }
h3 { color:#00ccff; }
h4 { color:#00ccff; }
p { color:#00ccff; }
h5 { color:#00ccff; }

body {
  color: #00ccff;

 background-image: url("../Photo/background.jpg");
 background-repeat: no-repeat;
 background-size: cover;

}
::placeholder {
  color: #00ccff;
  opacity: 1; /* Firefox */
}

:-ms-input-placeholder { /* Internet Explorer 10-11 */
 color: #00ccff;
}

::-ms-input-placeholder { /* Microsoft Edge */
 color: #00ccff;
}

::-moz-selection { /* Code for Firefox */
  color: #00ccff;
  background: yellow;
}

::selection {
  color:#00ccff;
  background: yellow;
}
.button {
  background-color: #00ccff; /* Green */
  border: none;
  color: ;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}

::-webkit-calendar-picker-indicator {
  cursor: pointer;
  border-radius: 4px;
  margin-right: 2px;
  opacity: 0.6;
  filter: invert(0.8);
}
::-webkit-calendar-picker-indicator:hover {
  opacity: 1
}
a {
  color: #00ccff;
}




