<!DOCTYPE html>
<html>
<meta charset="UTF-8">
    <title>Hotel System Admin Login</title>
<head>
<link rel="stylesheet" href="../CSS/style.css" />
 <script type="text/javascript" src="../JS/cursor.js">  </script>
	<body>
	 <header>
      
      </header>
	</body>
	<table  height = "50px" width = "100%"  border="0">
		<tr>
			<td> <section align ="right"><h2>
			  <a href=../Home.php> <img src="../Image/Capturcsdfcsde.JPG" width="180" height="080" align ="left"/></a>
		
				<a href = "Hotel_System_Home.html">Home</a>|
				<a href = "Login.php">Login</a>|
				<a href="Registration.php"> Registration </a> </h2>
			</section>
			</td>
		</tr>
		<tr height = "100px">
			<td>
			<h1 style="font-size:60px;" align ="center">  
 Welcome To Hotel System!</h1><h4 style="color:gold;" align ="right">  
 </h4>
			</td>
		</tr>
		<tr>
		    <td align="center">
             <h3 style="color: orangered">Are You In The Wrong Place? No Porblem.</h3>
                <a href="../Home.php" > <h2>[Visit Our Website As a Guest]</h2></a>
		    </td>
		</tr>
		<tr>
		    <td align="center">
		   Developed by <a href="https://github.com/radwanromy" style="color: red;font-size:15px;">A. S. M. Radwan</a>
		    </td>
		</tr>
	</table>
	</head>
</html>