<!DOCTYPE html>

<html>

	<head>
		<meta charset="utf-8">
    <link rel="stylesheet"  href="../css/style.css">
		<title>User Login</title>
	</head>

	<body bgcolor="#49E6E8">

	    <h1 style="font-size: 60px; " align="center"> User Login </h1>


	

	<form method="post" action="../controller/u_loginCheck.php">

        <table border="0" align="center" >

         <tr>
            <td>
                <h3> Username:</h3>
            </td>

            <td>
                <h3> <input type="text" name="name" placeholder="Enter Your Username"> </h3>  
            </td>
         </tr>



         <tr>
            <td>
             <h3> Password: </h3>   
            </td>

            <td>
              <h3><input type="password" name="password"  placeholder="Enter Your Password"></h3> 
            </td>
        </tr>




         <tr align="center"> 
         	<td colspan="2"> 
             <a  href="u_fg_pass.html" style="color: brown ">Forgot Your Password?</a>
            </td> 
         </tr>



        <tr align="center">

            <td colspan="2"> 
              <h3>
                 <input type="submit" name="submit" value="Submit">
              </h3>
            </td> 

         </tr>



        <tr align="center">

            <td colspan="2"> 
              

              <h3>If you don't have any account then  <a href="u_regi.html"> Signup </a> </h3>


            </td> 
         </tr>


        <tr align="center">
            <td colspan="2"> 
              <br>
              <br>
              <br>
              
               <h3 style="color: orangered">Are You In The Wrong Place? No Porblem.</h3>

               <h2>[Visit Our Website As a Guest]</h2>
            </td> 
        </tr>

           
              </table>
    </form>

    </body>

</html>